@layer components {
  .monogram {
    display: flex;
    position: relative;
    width: 48px;
    height: 48px;
  }

  .light,
  .dark {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: opacity var(--durationL) ease;
  }

  [data-theme='light'] .light,
  :global([data-theme='light']) .light {
    opacity: 1;
  }

  [data-theme='dark'] .dark,
  :global([data-theme='dark']) .dark {
    opacity: 1;
  }
}